__pycache__/*
*.pyc
plot_storage
weight_storage
plotting_mc
slurm*
cli/*.yml
lightning_logs
wandb
checkpoints
test-of-project
eval_plot_storage
outfiles
dataloc
fastjet/obj
*.out
.vscode
.cursor
fastjet/out
fastjet/copies
experiments
